@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #261716;
    /* 색 바꾸기 */
}

body {
    font-family: "Freesentation";
    font-size: 16px;
    color: #261716;
    background-color: #FFF7F3;
}

/* 애니메이션 */
@keyframes ani1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes ani2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(5deg);
    }
}

@keyframes ani3 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes flow2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

#wrap{
    overflow: hidden;
    min-width: 1200px;
}

/* 최상단 메뉴 */
header {
    background-color: #FAE6DD;
    position: relative;
}

.header_in {
    width: 1135px;
    margin: auto;

    /* border: 1px solid red; */
}

.menu a:hover {
    filter: brightness(200%);
}

.main_img {
    position: absolute;
    top: 25px;
    left: 45%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 40px 45px;
    gap: 0 20px;
}

/* 상단 메뉴 */
.nav {
    width: 1135px;
    margin: auto;
    /* border: 1px solid blue; */
}

.nav_in {
    display: flex;
    justify-content: space-around;
}

.nav_in>li>a {
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: 40px 60px 25px;
}

.nav_in>li:hover>a {
    color: #8D5037;
}

/*  상단메뉴 - 서브메뉴 */
.sub {
    background-color: #D9BAA8;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 99;
    /* 서브메뉴 안보이게 만들기 */
    /* display: none; */
    clip-path: inset(0 0 100% 0);
    transition: 0.4s;
    border-bottom: 3px solid #8D5037;

}

.sub ul {
    width: 1000px;
    margin: auto;
    display: flex;
    padding: 30px 0;
    justify-content: flex-start;
    gap: 0 100px;

}

.sub ul li a {
    font-weight: 500;
    color: #fff;
    border-left: 1px solid rgba(141, 79, 55, 0.5);
    padding-left: 10px;
}

.sub ul li:hover a {
    color: #8D5037;
}

/* 서브메뉴 보이게 만들기 */
.nav li:hover .sub {
    /* display: block; */
    clip-path: inset(0 0 0 0);
}

/* 배너 이미지 */
.basic {
    width: 100%;
}

.basic img {
    width: 100%;
    display: block;
}

.basic .swiper-button-next,
.swiper-button-prev {
    color: #8D5037;
}

.basic .swiper-pagination-bullet {
    background: #CF7364;
    width: 50px;
    border-radius: 50px;
}

/* 하단 메뉴 */
.nav2 {
    background-color: #D9BAA8;
    height: 150px;
    align-content: center;
}

.nav2_in {
    width: 1135px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.nav2_in>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav2_in>li>a {
    font-weight: 500;
    padding-top: 10px;
    display: block;
}

.nav2_in>li:hover>a {
    color: #fff;
    /* text-decoration: underline; */
}

/* new & hot */
.main_contents {
    width: 1135px;
    margin: 100px auto;
    /* border: 1px solid red; */
}

.main_contents h2 {
    font-size: 40px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.button a {
    font-size: 12px;
    padding: 3px 10px;
    margin: 15px 0;
    color: #CF7364;
    border: 2px solid #CF7364;
    border-radius: 20px;
    display: inline-block;
}

.button a:hover {
    color: #fff;
    background-color: #CF7364;
}

/* new */
.all1 {
    display: flex;
    justify-content: space-between;
}

.main_text1 {
    width: 530px;
    /* border: 1px solid red; */
}

.main_text1 img {
    display: block;
}

.text1 {
    margin-top: 30px;
    display: flex;
}

.text1_in {
    width: 250px;
    padding-left: 30px;
}


.text1_in ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #CF7364;
    border-bottom: 1px solid #CF7364;
    padding: 0 5px 5px 0;
}

.text1_in ul li:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.text1_in ul li:nth-child(2) a:hover{
    color: #8D5037;
}

.text1_in ul li a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 55px;
    display: flex;
    justify-content: flex-end;
}


/* hot */
.main_text2 {
    width: 530px;
    /* border: 1px solid red; */
}

.main_text2 img {
    display: block;
}

.text2 {
    margin-top: 30px;
    display: flex;
}

.text2_in {
    width: 250px;
    padding-left: 30px;
}

.text2_in ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #8D5037;
    border-bottom: 1px solid #8D5037;
    padding: 0 5px 5px 0;
}

.text2_in ul li:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.text2_in ul li:nth-child(2) a:hover{
    color: #8D5037;
}

.text2_in ul li a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 55px;
    display: flex;
    justify-content: flex-end;
}

/* 라인1 */
.line1 {
    background-color: #D98B7E;
    overflow: hidden;
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.line1_in {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    animation: flow2 40s infinite linear;
}

/* 이달의 best pick */
.main_contents2 {
    width: 1135px;
    margin: 100px auto 120px;
    /* border: 1px solid red; */
}

.main_contents2 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main_contents2 P {
    font-size: 20px;
}

.all2 {
    display: flex;
    justify-content: space-between;
}

.best_list_in ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0 10px 0;
}

.best_list_in ul li:first-child a:hover {
    color: #8D5037;
}

.best_list_in ul li a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.flag {
    padding-top: 10px;
}

/* 기획전, 이벤트 */
.main_contents3 {
    width: 1135px;
    margin: auto;
    /* border: 1px solid red; */
}

.main_contents3 h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main_contents3 P {
    font-size: 20px;
}

.all3 {
    display: flex;
    justify-content: space-between;
}

.all3 div:nth-child(1) a img:hover{
    transition: 0.2s;
    filter: drop-shadow(2px 2px 3px rgba(76, 43, 29, 0.2));
}

.all3 div:nth-child(2) a img:hover{
    transition: 0.2s;
    filter: drop-shadow(2px 2px 3px rgba(76, 43, 29, 0.2));
}

/* 리뷰 */
.main_contents4 {
    background-color: #FAE6DD;
    height: 900px;
    margin: 100px auto 0;
}

.main_contents4 h2 {
    font-size: 40px;
    width: 1135px;
    margin: 0 auto;
    padding-top: 80px;
}

.swiper2 {
    width: 1135px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    --swiper-theme-color: #CF7364;
    --swiper-pagination-bullet-inactive-color: #CF7364;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 480px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.all4 {
    width: 1135px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* 라인2 */
.line2 img {
    width: 100%;
}

/* 취향 찾기 */
.main_contents5 {
    width: 1135px;
    margin: 120px auto;
    /* border: 1px solid red; */
    position: relative;
}

.main_contents5 img {
    display: block;
}

.text7_img {
    position: absolute;
    left: 29%;
}

.text7 {
    text-align: center;
}

.text7_in1 {
    font-size: 18px;
    padding: 90px 0 40px 0;
}

.span1 {
    font-family: 'Tenada';
    color: #8D5037;
}

.span2 {
    font-family: 'Tenada';
    color: #CF7364;
}

.text7_in2 {
    font-size: 20px;
    font-weight: 600;
}

.click {
    font-size: 16px;
    font-weight: 600;
    color: #4C2B1D;
    padding: 2px 10px;
    background-color: #D9BAA8;
    border: 2px solid #4C2B1D;
    border-radius: 30px;
    display: inline-block;
    margin: 60px 0 100px 0;
}

.click:hover {
    background-color: #fff;
    box-shadow: 2px 2px 1px rgba(76, 43, 29, 0.3);
}

/* 팝업1 */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    /* 팝업 안보이게 만들기 */
    display: none;
}
.popup_in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1000px;
    height: 450px;
    background-color: #fff;
}

.popup div:nth-child(1) p:nth-child(1){
    width: 300px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.popup div:nth-child(1) p img{
    width: 30px;
    padding-right: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.popin{
    width: 600px;
    justify-content: space-around;
    margin: auto;
    display: flex;
}
.popup div:nth-child(1) a img{
    width: 200px;    
}

.popup_in p:nth-child(3){
    text-align: right;
    font-size: 14px;
    background-color: #CF7364;
    border: 2px solid #CF7364;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 55px 0 0 905px;
}
.popup_in p:nth-child(3):hover{
    background-color: #fff;
    border: 2px solid #CF7364;
}


.room {
    width: 1135px;
    height: 1000px;
    background: url(../images/taste_room_frame.png) no-repeat center 50px;
    /* border: 1px solid red; */
    position: relative;
    z-index: -1;
}

.tower {
    position: absolute;
    top: 22%;
    left: 13%;
    animation: ani1 1.2s infinite linear alternate-reverse;
}

.candle {
    position: absolute;
    top: 13%;
    left: 39%;
    animation: ani3 0.8s infinite linear alternate-reverse;
}

.pass {
    position: absolute;
    top: 190px;
    right: 12%;
    animation: ani1 0.6s infinite linear alternate;
}

.doll {
    position: absolute;
    bottom: 15%;
    left: 40%;
    animation: ani1 1s infinite linear alternate;
}

.cup {
    position: absolute;
    bottom: 20%;
    right: 15%;
    animation: ani2 0.5s infinite linear alternate;
}

.keyring {
    position: absolute;
    top: 35%;
    left: 42%;
    animation: ani2 0.8s infinite linear alternate;
}

.bottle {
    position: absolute;
    bottom: 22%;
    left: 18%;
    animation: ani1 0.6s infinite linear alternate-reverse;
}

/* 이달의 공간 */
.main_contents6 {
    background-color: #FAE6DD;
    height: 750px;
    margin: auto;
}

.main_contents6 h2 {
    font-size: 40px;
    width: 1135px;
    margin: auto;
    text-align: center;
    padding: 100px 0 70px;
}

.all5 {
    width: 1135px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.all5_item {
    display: flex;
    flex-direction:column;
}
.all5_item img {
    display: block;
    width: 315px;
    height: 315px;
}

.all5_in li:first-child{
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0 10px;
}

.all5_in li:first-child a:hover {
    color: #8D5037;
}

.all5_in li:nth-child(3) a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* 공간 엿보기 */
.main_contents7 {
    width: 1135px;
    margin: 100px auto 120px;
}

.main_contents7 h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main_contents7 P {
    font-size: 20px;
}

.all6 {
    display: flex;
    justify-content: space-between;
}

.all6_in li:first-child{
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0 10px;
}

.all6_in li:first-child a:hover {
    color: #8D5037;
}

.all6_in li:nth-child(3) a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* 세일 */
.main_contents8 {
    width: 1135px;
    margin: 100px auto 120px;
}

.main_contents8 h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main_contents8 P {
    font-size: 20px;
}

.all7 {
    display: flex;
    justify-content: space-between;
}

.all7_in li:first-child{
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0 10px;
}

.all7_in li:first-child a:hover {
    color: #8D5037;
}

.all7_in li:nth-child(3) a span:nth-child(2){
    padding: 0 5px;
}

.all7_in li:nth-child(3) a span {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.all7_in li:nth-child(3){
    text-align: end;
    padding-top: 10px;
}

.all7_in li:nth-child(3) a span:nth-child(1){
    color: #CF7364;
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
}

/* 라인3 */
.line3 img {
    width: 100%;
}

/* 인스타 */
.main_contents9 {
    width: 1135px;
    margin: 100px auto 65px;
}

.main_contents9 h2 {
    font-size: 40px;
}

.simply-scroll {
    width: 100%;
    height: auto;
    margin: auto;
}

.simply-scroll .simply-scroll-clip {
    width: 100%;
    height: 100%;
}

.simply-scroll .simply-scroll-list li {
    width: 320px;
    height: 320px;
    margin: 0 17px;
}

.button3 {
    padding: 65px 0 100px;
    display: flex;
    justify-content: center;
}

.button3 a {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 15px 0;
    background-color: #D9BAA8;
    color: #4C2B1D;
    border: 2px solid #4C2B1D;
    border-radius: 20px;
    display: inline-block;

}

.button3 a:hover {
    background-color: #fff;
    box-shadow: 2px 2px 1px rgba(76, 43, 29, 0.3);
}

/* 푸터 */
.main_contents10 {
    background-color: #FAE6DD;
    margin: auto;
}

.footer_img {
    margin: auto;
    padding: 80px 0;
    display: block;
    align-content: center;
}

.bottom {
    border-top: 3px solid #A56A46;
}

.bottom_in1 {
    width: 1135px;
    margin: auto;
    padding: 45px 0;
    /* border: 1px solid blue; */
}

.footer_img2 {
    padding-left: 20px;
}

.bottom_text1 {
    padding: 12px 0 0 20px;
}

.bottom_icon {
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;
    top: 45px;
    right: 410px;
    padding-bottom: 10px;
}

.bottom_icon a {
    opacity: 70%;
}

.bottom_icon a:hover {
    opacity: 100%;
}

.bottom_text2 {
    display: flex;
    text-align: end;
    flex-direction: column;
}

.bottom_text2 a:hover {
    font-weight: 600;
    color: #4C2B1D;
    text-decoration: underline;
}

.footer_text,
.footer_infor {
    width: 500px;
}

.footer_all {
    display: flex;
    justify-content: space-between;
}

.mini{
    display: flex;
}

.mini:nth-child(1) p, .mini:nth-child(2) p {
    padding-right: 15px;
}

.notice {
    padding-right: 30px;
}

.tell {
    padding-left: 16px;
}

.mini:nth-child(4) p{
    padding-bottom: 15px;
}

.mini p span {
    color: #726E6E;
}